<h1>thanks :D</h1>


@section scripts{
    <script>


        $(document).ready(function () {
            // Handler for .ready() called.
            window.setTimeout(function () {
                location.href = "/Habitacion";
            }, 2000);
        });
    </script>
}